$text: #59727e; 
$red: #e74c3c;
$green: #8bc34a;
$bg: #263238;
$grey: #f4f6f5;


@mixin f700 {
  font-family: 'Rooto-Regular', sans-serif;
  font-weight: 700;
}
@mixin f500 {
  font-family: 'Rooto-Regular', sans-serif;
  font-weight: 500;
}